* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 201, 100);
    display: flex;
    align-items: center;
    justify-content: center;

}

.body {
    position: relative;
    flex-direction: column;
    width: 920px;
    height: 600px;
    background-color: white;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.413);
    /* -8px -8px 20px rgba(0, 0, 0, 0.413); */

}

.is {
    position: absolute;
    background-color: rgb(255, 201, 100);
    height: 100%;
    width: 16vw;
}

.navbar {
    display: flex;
    width: 100%;
}

.link {
    cursor: pointer;
    font-family: monospace;
    font-size: 1.4rem;
    margin-top: 30px;
    display: flex;
    list-style: none;
    margin-left: 396px;
    position: relative;
}

.li {
    margin-right: 26px;
}
.li:hover{
    /* display: flex;
    align-items: flex-end; */
    border: 5px solid rgb(255, 201, 100);
    height: 18px;
    background-color: rgb(255, 201, 100);
    text-shadow: 3px 4px 8px;
}
i {
    cursor: pointer;
    display: block;
    margin-top: 30px;
    font-size: 1.4rem;
    margin-left: 20px;
    margin-right: 30px;
}

#b1 {
    margin-left: 52px;
}

#b2 {
    position: absolute;
}

.ri {
    margin-top: 30px;
    margin-left: 50px;
    width: 40%;
}

.picture {
    height: 450px;
    background: url(/img/madelaine-petsch-wallpaper-preview.jpg);
    width: 450px;
    background-repeat: no-repeat;
    background-size: contain;
}

.change {
    height: 50px;
    width: 450px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: -91px;
    background-color: rgb(255, 201, 100);
}

.leftrigh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    background-color: rgb(255, 201, 100);
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
}

.section {
    position: relative;
    margin-top: 130px;
    margin-left: 525px;
    width: 60%;
}
.cat{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.347);
    margin-top: -44px;
}
.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 45px;
}
.para{
    width: 350px;
    position: absolute;
    margin-top: 58px;
    margin-left: 2px;
    opacity: 0.7;
}
.para::before{
    content: "P";
    font-size: x-large;
}
.read{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.304);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    position: absolute;
    margin-top: 184px;
    margin-left: 2px;

}
#re{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.304);
    position: absolute;
    margin-top: 191px;
    margin-left: 155px;
}
.fot{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 290px;
}
.bas{
    width: 320px;
    background-color: rgb(255, 201, 100);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.422);
}
.subscribe{
    font-weight: 800;
    background-color: rgb(255, 201, 100);
    border: none;
    margin-left: 4px;
}
.enter{
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.299);
    height: 60px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.05rem;
}