*{
    box-sizing: border-box;
}
body{
    background-color: rgba(221, 246, 249, 0.893);
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login {
    width: 430px;
    height: 700px;
    background-color: #0093E9;
    background-image: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -moz-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 20px;
    padding: 330px 35px 35px 100px;
    box-shadow: 13px 13px 20px #6790a8,
    -13px -13px 20px #6790a8;

}
.logo{
    background: url(./img/Backgroundcopy.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 43px;    
    margin: 0 auto;
    margin-left:87px;
    margin-top: -215px;
}
.logoname{
    text-align: center;
    margin-left: 77px;    
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    text-shadow: 6px 4px 5px #486e84;
    display: inline-block;
    margin-top: -200px;

}
.logoname:hover {
    color: rgb(214, 22, 22);
    border: 3px dotted #243d4c;
}
.fields{
    width: 100%;
    height: 100%;
    padding: 75px 5px 5px 15px;
    margin-left: -30px;
    position: relative;
}
.user{
    margin-bottom: 52px;
}
.fields input{
    border: none;
    background: rgba(221, 246, 249, 0.893);
    font-size: 17px;
}
.user, .pass{
    padding: 10px;
    box-shadow: 3px 3px 5px #486e84,
    -3px -3px 5px #6aa9bb;
    border-radius: 13px;
}
.loginput{
    position: relative;
    top: -70px;
    left: -25px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: #02c8db;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 13px 13px 20px #6790a8;
    transition: all 0.6s ease-out;
}
.link {
    text-align: center;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    top: -50px;
    left: -30px;
}
.link a{
    color: #ffffff;
}
.link a:hover{
    color: aquamarine;
}
.loginput:hover{
    color: #000000;
    background-color: #0093E9;
}