* {
    margin: 0;
}

body {
    background-color: white;
}

.left {
    position: relative;
    width: 15%;
    height: 100vh;
    background-color: #d7e3ffd8;
}

.left-up {
    display: flex;
}

.eo {
    left: 3px;
    top: -64px;
    position: absolute;
    font-size: 5.5rem;
}

.eo span {
    margin: -2.5px;
}

#bi {
    top: -1px;
    left: 200px;
    position: absolute;
    font-size: x-large;
}

.lbn {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 80px;
}

.lbn p {
    text-align: left;
    display: inline-block;
}

.l {
    list-style: none;
    text-align: left;
}

.l p {
    text-align: left;
}

.left-body {
    margin-bottom: 40px;
}

.left-body i {
    margin-right: 12px;
    margin-bottom: 15px;

}

.left-bot i {
    margin-right: 12px;
    margin-bottom: 15px;
}

.left-bot {
    color: rgb(117, 117, 117);
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 400px;
}

.ttk {
    position: absolute;
    top: 55px;
    left: -135px;
}

.asl {
    display: flex;
    margin-bottom: 50px;
    list-style: none;
    border-bottom: 1px solid black;
}

.label-wrapper {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 185px;
}

.ugk {
    position: absolute;
    top: 400px;
}

.nav-item {
    display: none;
}
.category {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: .4s ease-in;
    cursor: pointer;
}

.category:hover{
    color: blue;
}